/* nav */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    padding: 0px 17px;
}
/* home */
#home{
    height: 380px;
    flex-direction: column;
}
#home::before{
    height: 480px;
    top: 0px;
    left: 0px;
}
#home p{
    font-size: 16px;
    margin-left: -290px;
    margin-right: -50px;
}
#btn{
    margin-top: 15px;
    margin-left: -210px;
}
/* services */
#services{
    flex-direction: column;
}
#services .box img{
    width: 230px;
}

/* client */
#clients{
    overflow: hidden;
}
/* contactus */
#contact-box form{
    width: 235px;
}
/* footer */
/* utility */
.h-primary{
    font-size: 26px;
    margin-left: -205px;
    margin-top: -130px;
    padding: 0px;
}
.h-primary-center{
    margin: -150px 38px 25px 38px;;
    padding: 7px;
}

.box p{
    margin-top: 265px;
    margin-left: -367px;
    margin-right: -20px;
    text-align: center;
}
.h-primary-center-2{
    margin: 0px;
}
.h-secondary{
    padding: 0px;
    padding-left: 40px;
    margin-top: 150px;
    margin-left: -250px;
    margin-right: 154px;
    margin-bottom: 154px;
    text-align: center;
}
.h-primary-center-3 {
    margin: 0px 55px 15px 55px;
}
#btn-1{
    margin-top: 0px;
}